/england/
/france/
/germany/
/italy/
/netherlands/
/portugal/
/scotland/
/spain/
/top_leagues/
/top_leagues/Bundesliga/
/top_leagues/EPL/
/top_leagues/LaLiga/
/top_leagues/SerieA/
/top_leagues/Bundesliga-merged.csv
/top_leagues/EPL-merged.csv
/top_leagues/EPL-merged-all-avgs.csv
/top_leagues/EPL-merged-avgs.csv
/top_leagues/EPL-merged-avgs_preds.csv
/top_leagues/LaLiga-merged.csv
/top_leagues/SerieA-merged.csv
